/* Color Variables */

:root {
    --color-primary: #2289FF;
    --color-secondary: #314862 !important;
    --color-acent: #193F6A;
    --font-poppins: 'Poppins' sans-serif;
}


/* Custom Classes */

.bg-primary {
    background-color: var(--color-primary);
}

.color-primary {
    color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.color-secondary {
    color: var(--color-secondary);
}

.bg-acent {
    background-color: var(--color-acent);
}

.color-acent {
    color: var(--color-acent);
}

.btn-theme {
    margin: 0;
    box-shadow: none;
    font-family: var(--font-poppins);
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 30px 0px 30px 30px;
    transition: 0.5s ease;
    padding: 8px 20px;
}

.btn-theme-2 {
    margin: 0;
    box-shadow: 0 10px 20px 0px rgb(34 137 255/52%);
    font-family: var(--font-poppins);
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 30px;
    transition: 0.5s ease;
    padding: 10px 30px;
}

.btn-play {
    margin: 0;
    box-shadow: none;
    font-family: var(--font-poppins);
    font-weight: 500;
    text-transform: capitalize;
    background-color: var(--color-secondary);
    color: #fff;
    border-radius: 100%;
    transition: 0.5s ease;
    padding: 10px 16px;
}

.btn-play:hover {
    background-color: var(--color-acent);
    color: var(--color-primary);
    box-shadow: none;
}

.btn-theme:hover {
    background-color: var(--color-acent);
    color: #fff;
    box-shadow: none;
}

.btn-theme-2:hover {
    background-color: var(--color-acent);
    color: #fff;
    box-shadow: none;
}


/* Header Style */

header.header {
    width: 100%;
}

.header nav.navbar {
    box-shadow: none;
    color: var(--color-secondary);
}

.header nav.navbar.navbar-brand {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 24px;
    color: var(--color-secondary);
}

.header nav.navbar .nav-link {
    color: var(--color-secondary);
    font-weight: 500;
    font-family: var(--font-poppins);
    padding: 10px 20px;
    transition: 0.5s ease;
}

.header .navbar .nav-link:hover,
.header .navbar .nav-link.active {
    color: var(--color-primary);
}

.header .navbar .nav-item {
    margin: auto 5px;
}


/* Hero banner style */

#hero-banner {
    padding: 80px 0px;
    width: 100%;
    color: var(--color-secondary);
    font-family: var(--font-poppins);
}

#hero-banner p {
    font-weight: 400;
}

#hero-banner .image {
    border-radius: 80px 80px 0px 80px;
    overflow: hidden;
}


/* Search Section */

#search-section .search-area {
    border-radius: 80px;
    padding: 20px 50px;
    font-family: var(--font-poppins);
}

#search-section .search-area select {
    padding: 5px 0px;
    border: none;
    outline: none;
    width: 80%;
    margin-bottom: 3px;
}

#search-section .search-area input {
    border: 1px solid #fff;
    outline: none;
}

#search-section {
    margin-bottom: 100px;
    margin-top: 50px;
}

#search-section .search-area input:focus {
    outline: none;
    box-shadow: none;
    border: var(--color-secondary);
}

#search-section .search-area button.btn-theme {
    border-radius: 30px;
    padding: 12px 40px;
}


/* About section */

#about-section {
    width: 100%;
    padding: 120px 0;
    background-color: #eee;
    font-family: var(--font-poppins);
}

#about-section h1 {
    color: var(--color-secondary);
}

#about-section .image {
    border-radius: 80px 0px 80px 80px !important;
    overflow: hidden;
}

#about-section .image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


/* Services Section style */

.myclass {
    margin: 10px 0;
    padding: 100px 0;
    font-family: var(--font-poppins);
    cursor: pointer;
}

.service-show {
    padding: 20px 30px;
    text-align: center;
    border-radius: 0px 30px 0px 30px;
    margin: 10px;
}

.service-show p {
    font-size: 14px;
    font-weight: 400;
}

.service-show i.fas {
    border-radius: 100%;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    width: 58px;
    font-size: 20px;
    color: var(--color-primary);
    margin-bottom: 10px;
}

#property-section {
    background-color: #eee;
    width: 100%;
    padding: 50px 0;
    font-family: var(--font-poppins);
    color: var(--color-secondary);
}

#property-section .text-right a {
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 500;
    transition: 1s ease;
}

#property-section .text-right a:hover {
    color: var(--color-primary);
}


/* property slider */


/* #property-section #property-slider {
    height: 400px;
    width: 100%;
    border: 1px solid black;
    margin-top: 50px;
} */


/* Work section */

#work-section {
    width: 100%;
    padding: 100px 0;
    background-color: #eee;
    text-align: center;
    font-family: var(--font-poppins);
}

#work-section h1 {
    color: var(--color-secondary);
}

#work-section p {
    font-weight: 400;
}

#work-section .service-show {
    padding: 20px 30px;
    text-align: center;
    border-radius: 0px 30px 0px 30px;
    margin: 10px;
    cursor: pointer;
    transition: 1s ease;
}

#work-section .service-show p {
    font-size: 14px;
    font-weight: 400;
}

#work-section .service-show:hover {
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .15);
    background-color: #fff;
}

#work-section .service-show i.fas {
    border-radius: 100%;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    width: 58px;
    font-size: 20px;
    color: var(--color-primary);
    margin-bottom: 10px;
}

#feature-section {
    width: 100%;
    text-align: center;
    font-family: var(--font-poppins);
    color: var(--color-secondary);
}

#feature-section .property-list {
    padding: 10px;
    background-color: #fff;
    border-radius: 0 30px 0 30px;
    color: #000;
}

#feature-section .property-list p {
    font-weight: 500;
}

#feature-section .property-list .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 0 30px 0 30px;
    margin-bottom: 10px;
}

#feature-section .property-list.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: left;
}


/* Footer Style */

footer {
    width: 100%;
    padding: 50px 0;
    background-color: var(--color-primary);
    font-family: var(--font-poppins);
    color: #fff;
    border-radius: 100px 0 0 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    transition: 0.5s ease;
}

footer ul li a:hover {
    opacity: 0.7;
    color: #fff;
}


/* Responsiveness */

@media only screen and (max-width:580px) {
    #search-section .search-area {
        border-radius: 0px;
        padding: 30px;
    }
    #search-section .search-area input {
        margin-bottom: 10px;
    }
    #search-section {
        margin-top: 0px;
    }
    #search-section .search-area button.btn-theme {
        margin-top: 20px;
        width: 100%;
    }
    /* Service Section */
    .myserviceclass .d-flex {
        flex-direction: column;
    }
    /* work section */
    #work-section .d-flex {
        flex-direction: column;
    }
    /* Footer */
    #footer h4 {
        text-align: center;
    }
}